{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
<div class="header-content">
    <h1 class="title is-4">{{ post.title }}</h1>
    <small><i>Posted in {{ post.tags.all|join:', ' }} on {{ post.publish }} by {{ post.author }}</i></small>
</div>
<div class="content">
    {{ post.body|linebreaks }}
    <div class="content-footer">
        <hr/>
        <p><a class="button menu-label" href="{% url 'post_share' post.id %}">Share this post</a></p>
        <p><a class="button menu-label" href="{% url 'post_list' %}">Back to Home</a></p>
    </div>
</div>

<h2 class="title is-4">Similar posts</h2>
{% for post in similar_posts %}
<p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
{% empty %}
<small><i>There is no similar posts yet.</i></small>
{% endfor %}
<hr/>

{% with comments.count as total_comments %}
<h2 class="title is-4">{{ total_comments }} comment{{ total_comments|pluralize }} </h2>
{% endwith %}

{% for comment in comments %}
<div class="comment">
    <p class="info">Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}</p>
    {{ comment.body|markdown }}
</div>
{% empty %}
<small><i>There are no comments yet.</i></small>
{% endfor %}

{% if new_comment %}
<p>Your comment has been added.</p>
{% else %}
<h2>Add new comment</h2>
<form action="." method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Add comment</button>
</form>
{% endif %}
{% endblock content %}
