{% extends "blog/base.html" %}
{% block title %}Share a post{% endblock title %}
{% block content %}
{% if sent %}
<div class="header-content">
    <h1 class="title is-4">Email sent successfully</h1>
    <small><i>"{{ post.title }}" has been successfully sent by email.</i></small>
</div>
{% else %}
<div class="header-content">
    <h1 class="title is-4">Share "{{ post.title }}" by Email</h1>
</div>
<div class="content">
<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send">
</form></div>
{% endif %}
<p><a href="{{ post.get_absolute_url }}">Back to the post</a></p>
{% endblock content %}
